.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  color: rgba(255, 255, 255, 1);
  transition: all;
  transition-duration: 150ms;
}

.swiper-button-next::after {
  position: absolute;
  right: 16px;
  color: rgba(255, 255, 255, 0.75);
}

.swiper-button-prev::after {
  position: absolute;
  left: 16px;
  color: rgba(255, 255, 255, 0.75);
}
.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.75);
  width: 18px;
  height: 3px;
  border-radius: 0;
  border-color: black;
  opacity: 0.5;
  margin: 0 4px;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff;
  opacity: 1;
}
